@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* mobile - xs */


* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	justify-content: space-between;
	align-content: center;
	align-items: center;

}

[class*="col-"] {
	padding-left: 15px;
	padding-right: 15px;

}

.col-xs-1 {
	flex: 0 0 8.33333%;
	max-width: 8.33333%;
}

.col-xs-2 {
	flex: 0 0 16.66667%;
	max-width: 16.66667%;
}

.col-xs-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-xs-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.col-xs-5 {
	flex: 0 0 41.66667%;
	max-width: 41.66667%;
}

.col-xs-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-xs-7 {
	flex: 0 0 58.33333%;
	max-width: 58.33333%;
}

.col-xs-8 {
	flex: 0 0 66.66667%;
	max-width: 66.66667%;
}

.col-xs-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-xs-10 {
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
}

.col-xs-11 {
	flex: 0 0 91.66667%;
	max-width: 91.66667%;
}

.col-xs-12 {
	flex: 0 0 100%;
	max-width: 100%;
}



/* tablet - sm */

@media (min-width:768px) {
	.container {
		max-width: 720px;
	}

	.col-sm-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.col-sm-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-sm-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-sm-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.col-sm-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-sm-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-sm-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}

	.col-sm-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}

	.col-sm-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}



/* laptop - md */

@media (min-width:992px) {
	.container {
		max-width: 960px;

	}



	.col-md-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;

	}

	.col-md-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-md-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.col-md-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-md-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}

	.col-md-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}

	.col-md-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}





/* desktop - lg */

@media (min-width:1200px) {
	.container {
		max-width: 1140px;
	}

	.col-lg-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;

	}

	.col-lg-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-lg-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-lg-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.col-lg-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-lg-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}


/* only mobile  */
@media (max-width:767px) {
	.hidden-xs {
		display: none;
	}

	.row {
		justify-content: center;
	}

}

@media (max-width:1210px) {
	.menu {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		overflow: scroll;
	}
}



.header {
	background-color: #1d2126;
	height: 80px;
	line-height: 80px;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu li a {
	color: #a4aead;
	text-decoration: none;
	padding: 2px 10px;
	border: solid 2px #1d2126;
	font-size: 14px;
}

.menu>li:first-child {
	color: #39a493;
}

.menu li a:hover {
	border: solid 2px #5b6168;
	border-radius: 5px;
	transition: 0.5s;
	padding: 2px 10px;
}

.search {
	display: flex;
	width: 160px;
	height: 27px;
	border: solid 2px #3c4147;
	align-items: center;
	border-radius: 5px;
}

input {
	max-width: 130px;
	background-color: #1d2126;
	border: none;
	padding-left: 5px;
	outline: none;
	color: #a4aead;
}

::placeholder {
	color: #a4aead;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;

}

.buttonsearch {
	background-image: url(image/search.png);
	width: 24px;
	height: 23px;
	background-color: #1d2126;
	border: none;
	background-position: center center;
	background-repeat: no-repeat;
	margin-right: 10px;
	cursor: pointer;
}


/* main*/

.slider {
	background-image: url(image/leaf.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	color: white;
	max-height: 660px;
}

.welcome {

	padding-top: 225px;
	padding-bottom: 250px;


}

.welcome-1 {
	font-size: 36px;
	margin-bottom: 35px;
}

.welcome-2 {
	font-size: 16px;
	line-height: 2;
	margin-bottom: 40px;
	color: #c6c7c8;

}

.welcome-button {
	margin-left: -15px;
	display: flex;

}

.welcomebut {
	height: 44px;
	max-width: 124px;
	background: inherit;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.welcomebut:hover {
	background-color: #23b7a4;
	border-color: #23b7a4;
	transition: 0.5s;
}

.video {
	margin-left: 10px;
}


.we-are-modest {
	display: flex;
	padding-bottom: 70px;

}


.empty {
	width: 10px;
	height: 35px;
	background-color: #e1e6ea;
	margin-right: 14px;

}

.we-are {
	display: flex;
	margin-top: 80px;
	margin-bottom: 60px;

}

.paragraph-1 {
	margin-bottom: 40px;
	color: #c6c7c8;
	line-height: 1.5;
}

.paragraph-2 {
	margin-bottom: 55px;
	color: #c6c7c8;
	line-height: 1.5;
}

.span {
	font-weight: bolder;
}


.right {
	margin-right: -15px;
}

.advantages {
	display: flex;
}



.socbut {
	width: 60px;
	height: 60px;
	background-color: #c8cdd0;
	border: none;
	cursor: pointer;
}

.social {
	margin-bottom: 30px;
}

.facebook {
	background-image: url(image/facebook.png);
	background-position: center;
}

.twitter {
	background-image: url(image/twitter.png);
	background-position: center;
}

.google {
	background-image: url(image/google.png);
	background-position: center;
}

.earth {
	background-image: url(image/earth.png);
	background-position: center;
}

.be {
	background-image: url(image/be.png);
	background-position: center;
}

.linked {
	background-image: url(image/li.png);
	background-position: center;
}

.green-num>p {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #23b7a4;
	color: white;
	margin-bottom: 60px;
	margin-right: 18px;

}

.title-of-number {
	font-size: 18px;
	font-weight: bold;


}

.num-descripion {
	font-size: 16px;
	color: #c6c7c8;
	line-height: 1.5;
	margin-bottom: 15px;
}

/* .meet-the-team */

.meet {
	display: flex;
	margin-left: -15px;
}

.photo {
	position: relative;
	border: none;

}

.white-back {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	display: none;

}

.photo:hover>.white-back {
	display: block;

}


.soc-member {
	width: 50px;
	height: 50px;
	margin: 1px;
	background-color: #3a454d;
}

.team-soc-but {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.photo:hover>.team-soc-but {
	display: block;
	display: flex;

}



.soc-member:hover {
	background-color: #4e5a62;
	transition: 0.5s;
}

.team-member {
	background-color: #e1e6ea;
	width: 263px;
	height: 374px;


}

.team-member:hover {
	background-color: #3a454d;
	color: white;
}

.name {
	font-size: 16px;
	margin-bottom: 10px;
}

.position {
	font-size: 14px;
	color: #8d8f92;
}

.name-of-member {
	padding: 20px;

}

.meet-the-team {
	padding-top: 80px;
	border-top: 1px solid rgba(0, 0, 0, 0.144);
	padding-bottom: 100px;
}

/* lovely work */


.lovely-work {
	background-color: #3a454d;

}

.lovely {
	display: flex;
	color: white;
	margin-top: 80px;
	margin-bottom: 60px;


}

.lovely-image {}

.image {
	position: relative;
	margin-bottom: 15px;

}

.lovely-image:hover {
	opacity: 0.5;
	transition: 0.5s;

}

.image:hover>.plus {
	display: block;
}

.image:hover>.under-text {
	display: block;

}


.plus {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;

}

.under-text {
	width: 360px;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	position: absolute;
	color: white;
	bottom: 0;
	background-color: #1d2126;
	font-size: 18px;
	font-weight: bold;
	display: none;



}

.butlove {
	display: flex;
	padding-top: 45px;
	padding-bottom: 50px;
	justify-content: center;
}

.lovely-button {
	width: 150px;
	height: 44px;
	background: inherit;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;


}


/* WHAT WE DO */

.what {
	margin-top: 80px;
	margin-bottom: 80px;

}

.opportunities {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.oppo-image {
	margin-bottom: 33px;
}

.oppo-name {
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 17px;
}


.oppo-description {
	text-align: center;
	line-height: 2;
	font-size: 16px;
	color: #8d8f92;
	margin-bottom: 95px;
}

.what-we-do {
	margin-bottom: 70px;
}


.features {
	background-color: #3a454d;

}

.features-card {
	color: white;
}

.features-image {
	margin-bottom: 55px;
}

.features-title {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
}


.features-description {
	margin-bottom: 120px;
	line-height: 1.5;
	font-size: 16px;
	color: #dcdfe1;
}

.map {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.contact-title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 40px;
}

.send-box {
	position: relative;
}

.send-but {
	position: absolute;
	bottom: -110px;
	left: 20px;
	width: 150px;
	height: 45px;
	border-radius: 6px;
	border: 2px solid black;
	cursor: pointer;
	background-color: white;
}

.send-but:hover {
	background-color: #39a493;
	color: white;
	border: none;
	transition: 0.5s;
}

.footer {
	background-color: #3c4147;
	height: 85px;
	color: rgba(255, 255, 255, 0.788);
	line-height: 85px;
}

.copyright {
	font-size: 14px;
	
}


.footer-socbut {
	background: inherit;
width: 25px;
height: 25px;
border: none;
cursor: pointer;
margin: 5px;
}

.footer-twit {
	background-image: url(image/twitter2.png);
	background-position: center;
}

.footer-face {
	background-image: url(image/facebook2.png);
	background-position: center;
}

.footer-skype {
	background-image: url(image/skype.png);
	background-position: center;
}

.footer-be {
	background-image: url(image/be.png);
	background-position: center;
	
}
.footer-in {
	background-image: url(image/li2.png);
	background-position: center;
}